In [18]:
import pandas as pd
from rutas import *

In [19]:
avisos_detalle1 = pd.read_csv(RUTA_BASE + 'fiuba_desde_15_abril/fiuba_6_avisos_detalle.csv')
avisos_detalle1.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra Búsqueda se orienta a la incorporación...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES

In [20]:
len(avisos_detalle1)

13798

In [21]:
avisos_detalle2 = pd.read_csv(RUTA_BASE + 'fiuba_6_avisos_detalle.csv')
avisos_detalle2.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,8725750,1,VENDEDOR/A PROVINCIA DE SANTA FE,<p><strong><strong>Empresa:</strong></strong> ...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Comercial,VENTOR

In [22]:
len(avisos_detalle2)

13872

In [23]:
avisos_detalle3 = pd.read_csv(RUTA_BASE + 'fiuba_6_avisos_detalle_missing_nivel_laboral.csv')
avisos_detalle3.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1001284385,1,Dejanos tu CV,<p><br />Si est&aacute;s interesado en ser par...,Corrientes,NaN,NaN,Full-time,NaN,Otros,Establecimiento Las Marías

In [24]:
len(avisos_detalle3)

338

In [25]:
avisos_detalle4 = pd.read_csv(RUTA_BASE + 'entrega6/fiuba_6_avisos_detalle.csv')
avisos_detalle4.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1111556097,1,Responsable de Marketing-Producto Div. Constru...,<p>Buscamos un <strong>Responsable de Producto...,Gran Buenos Aires,NaN,NaN,Full-time,Senior / Semi-Senior,Desarrollo de Negocios,Sinteplast S.A.

In [26]:
len(avisos_detalle4)

18299

In [27]:
avisos_detalle = avisos_detalle1.append(avisos_detalle2).append(avisos_detalle3).append(avisos_detalle4)
avisos_detalle.head(1)

,idaviso,idpais,titulo,descripcion,nombre_zona,ciudad,mapacalle,tipo_de_trabajo,nivel_laboral,nombre_area,denominacion_empresa
0,1573840,1,VENDEDORA/O,Nuestra Búsqueda se orienta a la incorporación...,Capital Federal,Flores,NaN,Full-time,Otro,Ventas,RIBEIRO SUC. FLORES

In [28]:
len(avisos_detalle)

46307

In [29]:
avisos_detalle = avisos_detalle.drop_duplicates()
len(avisos_detalle)

25915

In [30]:
avisos_detalle.to_csv(RUTA_DATOS_PROCESADOS + 'avisos_detalle.csv', index=False)