In [1]:
import pandas as pd
from rutas import *

In [2]:
vistas1 = pd.read_csv(RUTA_BASE + 'fiuba_3_vistas.csv')
vistas1.head(1)

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z

In [3]:
len(vistas1)

961897

In [5]:
vistas2 = pd.read_csv(RUTA_BASE + 'fiuba_desde_15_abril/fiuba_3_vistas.csv')
vistas2.head(1)

   idAviso                     timestamp idpostulante
0  1808556  2018-04-30T19:55:37.990-0400       6kDNzl

In [6]:
len(vistas2)

11648230

In [9]:
vistas3 = pd.read_csv(RUTA_BASE + 'entrega6/fiuba_3_vistas.csv')
vistas3.head(1)

      idAviso                     timestamp idpostulante
0  1112400775  2018-04-06T01:43:47.445-0400      kPjr2K0

In [10]:
len(vistas3)

5758686

In [11]:
vistas = vistas1.append(vistas2).append(vistas3)
vistas.head(1)

      idAviso                     timestamp idpostulante
0  1111780242  2018-02-23T13:38:13.187-0500      YjVJQ6Z

In [12]:
len(vistas)

18368813

In [13]:
vistas = vistas.drop_duplicates()
len(vistas)

16754298

In [14]:
vistas.to_csv(RUTA_DATOS_PROCESADOS + 'vistas.csv', index=False)