In [1]:
import pandas as pd
import numpy as np

In [3]:
postulantes = pd.read_csv('../../datos_preprocesados/postulantes.csv')
postulantes.head()

,idpostulante,Doctorado,Master,Otro,Posgrado,Secundario,Terciario/Técnico,Universitario,fechanacimiento,sexo
0,0z5Dmrd,0,0,0,0,0,0,Graduado,1965-10-22,MASC
1,0z5JW1r,0,0,0,0,0,0,Abandonado,1971-04-09,MASC
2,0z5VvGv,0,0,0,0,Graduado,0,0,1987-10-18,MASC
3,0zB01pE,0,0,0,0,0,0,Abandonado,1989-12-01,MASC
4,0zB026d,0,0,0,0,0,Graduado,0,1978-02-23,FEM

In [4]:
postulantes = postulantes['idpostulante']

In [ ]:
vistas = pd.read_csv('../../datos_preprocesados/fiuba_3_vistas.csv')
postulaciones = pd.read_csv('../../datos_preprocesados/fiuba_4_postulaciones.csv')
avisos_detalle = pd.read_csv('../../datos_preprocesados/fiuba_6_avisos_detalle.csv')