In [1]:
import pandas as pd
import numpy as np

In [2]:
educacion   = pd.read_csv('~/orga-datos/datos_preprocesados/fiuba_1_postulantes_educacion.csv')
genero_edad = pd.read_csv('~/orga-datos/datos_preprocesados/fiuba_2_postulantes_genero_y_edad.csv')
postulantes = pd.read_csv('~/orga-datos/v3/fiuba_3_vistas.csv', usecols=['idpostulante']).append(
    pd.read_csv('~/orga-datos/v3/fiuba_4_postulaciones.csv', usecols=['idpostulante']))

In [3]:
postulantes = postulantes.append(pd.DataFrame(educacion['idpostulante']).append(pd.DataFrame(genero_edad['idpostulante']))).drop_duplicates()

In [4]:
len(postulantes)

519509

In [5]:
educacion.head()

  idpostulante             nombre    estado
0         1d2B      Universitario  En Curso
1        6M3jr      Universitario  En Curso
2        NrlQx  Terciario/Técnico  En Curso
3        Y9RKV      Universitario  En Curso
4        ZL608      Universitario  En Curso

In [6]:
ESCALA_NIVEL_EDUCATIVO = {
    ('Otro', 'Abandonado'): 0, # Jardin de infantes
    ('Otro', 'En Curso'): 0, #
    ('Otro', 'Graduado'): 0, #
    ('Secundario', 'Abandonado'): 1, # Sec incompleto
    ('Secundario', 'En Curso'): 1, # Sec incompleto
    ('Secundario', 'Graduado'): 2, # Sec completo
    ('Terciario/Técnico', 'Abandonado'): 2,
    ('Terciario/Técnico', 'En Curso'): 2,
    ('Terciario/Técnico', 'Graduado'): 2.5,
    ('Universitario', 'Abandonado'): 3,
    ('Universitario', 'En Curso'): 3,
    ('Universitario', 'Graduado'): 4,
    ('Posgrado', 'Abandonado'): 5,
    ('Posgrado', 'En Curso'): 5,
    ('Posgrado', 'Graduado'): 6,
    ('Master', 'Abandonado'): 7,
    ('Master', 'En Curso'): 7,
    ('Master', 'Graduado'): 8,
    ('Doctorado', 'Abandonado'): 9,
    ('Doctorado', 'En Curso'): 9,
    ('Doctorado', 'Graduado'): 10
}
educacion['nivel_educativo'] = educacion.apply(lambda x: ESCALA_NIVEL_EDUCATIVO[(x['nombre'], x['estado'])], axis=1)

In [7]:
educacion = pd.DataFrame(educacion.groupby('idpostulante')['nivel_educativo'].max()).reset_index()

In [8]:
educacion.head()

  idpostulante  nivel_educativo
0      0z5Dmrd              4.0
1      0z5JW1r              3.0
2      0z5VvGv              2.0
3      0zB01pE              3.0
4      0zB026d              2.5

In [9]:
postulantes = pd.merge(educacion, postulantes, on='idpostulante', how='right')

In [10]:
postulantes['nivel_educativo_real'] = ~postulantes['nivel_educativo'].isna()

In [11]:
postulantes.head()

  idpostulante  nivel_educativo  nivel_educativo_real
0      0z5Dmrd              4.0                  True
1      0z5JW1r              3.0                  True
2      0z5VvGv              2.0                  True
3      0zB01pE              3.0                  True
4      0zB026d              2.5                  True

In [12]:
genero_edad['sexo'] = genero_edad['sexo'].map(lambda x: {'MASC': 1, 'FEM': -1}[x] if x in ('MASC', 'FEM') else 0)

In [13]:
genero_edad['edad'] = genero_edad['fechanacimiento'].map(lambda x: 2018 - int(x.split('-')[0]) if isinstance(x, str) else 0)

In [14]:
genero_edad.head()

  idpostulante fechanacimiento  sexo  edad
0         eo2p      1981-02-16     1    37
1         1d2B      1976-02-28     1    42
2         EBO0      1973-09-11    -1    45
3        a6MKW      1974-06-07     1    44
4        6MWd4      1974-12-19     1    44

In [15]:
postulantes = pd.merge(postulantes, genero_edad[['idpostulante', 'sexo', 'edad']], on='idpostulante', how='left')

In [16]:
postulantes['edad_real'] = False
postulantes.loc[(postulantes['edad'] > 14) & (postulantes['edad'] < 90),'edad_real'] = True
postulantes['sexo'] = postulantes['sexo'].fillna(0)
postulantes.head()

  idpostulante  nivel_educativo  nivel_educativo_real  sexo  edad  edad_real
0      0z5Dmrd              4.0                  True   1.0  53.0       True
1      0z5JW1r              3.0                  True   1.0  47.0       True
2      0z5VvGv              2.0                  True   1.0  31.0       True
3      0zB01pE              3.0                  True   1.0  29.0       True
4      0zB026d              2.5                  True  -1.0  40.0       True

In [17]:
postulantes[postulantes['edad'].isna()]

,idpostulante,nivel_educativo,nivel_educativo_real,sexo,edad,edad_real
478456,bNGlW9,NaN,False,0.0,NaN,False
478459,YDeND,NaN,False,0.0,NaN,False
478470,aRjLq,NaN,False,0.0,NaN,False
478475,PdLOlE,NaN,False,0.0,NaN,False
478479,LmlRAq,NaN,False,0.0,NaN,False
478488,zdRRAk,NaN,False,0.0,NaN,False
478489,PZvOa,NaN,False,0.0,NaN,False
478490,Y0mQNY,NaN,False,0.0,NaN,False
478491,oBWDva,NaN,False,0.0,NaN,False
478494,WEY62B,NaN,False,0.0,NaN,False
478495,92XAw,NaN,False,0.0,NaN,False
478501,zAkR5,NaN,False,0.0,NaN,False
478504,Y0JMeY,NaN,False,0.0,NaN,False
478506,KVr1X,NaN,False,0.0,NaN,False
478508,po18xr,NaN,False,0.0,NaN,False
478512,lBQjM,NaN,False,0.0,NaN,False
478513,Y0Y8J,NaN,False,0.0,NaN,False
478520,ker8m,NaN,False,0.0,NaN,False
478527,oBWY6e,NaN,False,0.0,NaN,False
478536,O6WEGv,NaN,False,0.0,NaN,False
478540,zd1eVb,NaN,False,0.0,NaN,False
478547,MKe43,NaN,False,0.0,NaN,False
478551,zX9w3,NaN,False,0.0,NaN,False
478553,ZDJe5,NaN,False,0.0,NaN,False
478554,Zj4wx1,NaN,False,0.0,NaN,False
478555,kVw5k1,NaN,False,0.0,NaN,False
478557,143dz,NaN,False,0.0,NaN,False
478562,kV4q6J,NaN,False,0.0,NaN,False
478567,WO1EN,NaN,False,0.0,NaN,False
478580,WEY4RX,NaN,False,0.0,NaN,False
...,...,...,...,...,...,...
506402,Y00dZX,NaN,False,0.0,NaN,False
506403,J1Zlb,NaN,False,0.0,NaN,False
506404,Lamep,NaN,False,0.0,NaN,False
506405,polzNr,NaN,False,0.0,NaN,False
506406,PdADxR,NaN,False,0.0,NaN,False
506407,ED2Vro,NaN,False,0.0,NaN,False
506408,xX1VYj,NaN,False,0.0,NaN,False
506409,52q4NZ,NaN,False,0.0,NaN,False
506410,Zk80z,NaN,False,0.0,NaN,False
506411,EDKRp6,NaN,False,0.0,NaN,False
506412,04Qa8E,NaN,False,0.0,NaN,False
506413,Kjw2,NaN,False,0.0,NaN,False
506414,rz3dJ6,NaN,False,0.0,NaN,False
506416,AOArWj,NaN,False,0.0,NaN,False
506417,xPrkj,NaN,False,0.0,NaN,False
506419,rkBXA,NaN,False,0.0,NaN,False
506420,z8d25,NaN,False,0.0,NaN,False
506421,BjQGXE,NaN,False,0.0,NaN,False
506422,QdD2Kq,NaN,False,0.0,NaN,False
506423,6Op2L,NaN,False,0.0,NaN,False
506424,DAv3Rl,NaN,False,0.0,NaN,False
506425,2AG0o,NaN,False,0.0,NaN,False
506426,LY33q,NaN,False,0.0,NaN,False
506427,WLjk9,NaN,False,0.0,NaN,False
506428,GXwOA,NaN,False,0.0,NaN,False
506429,6kKL2R,NaN,False,0.0,NaN,False
506430,mYKoj9,NaN,False,0.0,NaN,False
506431,Mrjo,NaN,False,0.0,NaN,False
506432,KO5oNj,NaN,False,0.0,NaN,False
506434,LmP3Yr,NaN,False,0.0,NaN,False

In [18]:
postulantes.to_csv('~/orga-datos/v3/postulantes.csv', index=False)