In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from rutas import *

%matplotlib inline

In [47]:
avisos_detalle = pd.read_csv(RUTA_AVISOS_DETALLE)[['idaviso', 'nombre_area']]

In [48]:
postulantes = pd.read_csv(RUTA_VECTOR_POSTULANTES)

In [49]:
avisos_detalle = pd.get_dummies(avisos_detalle, columns=['nombre_area'])

In [50]:
for c in avisos_detalle.columns[1:]:
    postulantes[c] = 0

In [51]:
postulantes.head()

In [53]:
postulantes.to_csv(RUTA_TMP + 'postulantes_v2.csv', index=False)

In [33]:
postulaciones = pd.merge(postulaciones, avisos_detalle, on='idaviso', how='inner')

In [3]:
postus_v2 = pd.read_csv(RUTA_TMP + 'postulantes_v2.csv')

In [5]:
for c in postus_v2.columns:
    if c.startswith('nombre_area_'):
        postus_v2[c] = postus_v2[c].astype('int')

In [6]:
postus_v2.head()

,idpostulante,sexo,edad,nivel_educativo,nombre_area_Abastecimiento,nombre_area_Administracion de Seguros,nombre_area_Administración,nombre_area_Administración de Base de Datos,nombre_area_Administración de Personal,nombre_area_Almacén / Depósito / Expedición,...,nombre_area_Trabajo Social,nombre_area_Trabajo social,nombre_area_Traduccion,nombre_area_Transporte,nombre_area_Turismo,nombre_area_Urbanismo,nombre_area_Venta de Seguros,nombre_area_Ventas,nombre_area_Ventas Internacionales/Exportación,nombre_area_Veterinaria
0,rmRbOvO,-1.0,23.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,96LQkRP,1.0,41.0,2.0,0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,0,0
2,MV6dwZL,-1.0,21.0,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,96zxl09,1.0,24.0,2.5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,N1W3qD,-1.0,27.0,0.0,0,0,6,0,9,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
max(postus_v2['nombre_area_Abastecimiento'])

88

In [8]:
postus_v2.to_csv(RUTA_TMP + 'postulantes_v2.csv', index=False)